input[type="submit"], button {
    background-color: rgb(153, 99, 204);
    font-size: large;
    border: none;    
}
input[type="submit"]:hover, button:hover{
    font-size: x-large;
}
main {
    top: 50px;
    position: relative;
    display: block;
}
footer {
    display: block;
}
